<% layout("boilerplate") %>
<h1>Authentication Demo</h1>

<p>Made using node, express, mongoose, bcrypt, ejs, ejs-mate, express-session, flexbox, etc</p>

<div class="button-container">
    <div class="button-container--individual">
        <a href="/login"><button>Login</button></a>
    </div>
    <div class="button-container--individual">
        <a href="https://github.com/diego-rg"><img src="/images/010-github.png" alt="gitHub logo" width="30px" height="30px"></a>
    </div>
    <div class="button-container--individual">
        <a href="/register"><button>Register</button></a>
    </div>
</div>