<% layout("boilerplate") %>
<h1>Log in</h1>
<form action="/login" method="POST">
    <div>
        <label for="userame">Username:</label>
        <input type="text" name="username" id="username" placeholder="Username">
    </div>
    <br>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="**********">
    </div>
    <br>
    <div>
        <button type="submit">Login</button>
        <button type="reset">Clear</button>
    </div>
</form>