<% layout("boilerplate") %>
<h1>User Area</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, ipsa odio quis ab libero ex consequatur dolorum soluta fuga, 
    quia maiores sequi dolores iure nemo. Deserunt id debitis itaque blanditiis!</p>
<form class="form-loggedIn" action="/logout" method="POST">
    <div class="button-container">
        <div class="button-container--individual">
            <button type="submit">Logout</button>
        </div>
    </div>
</form>